@{ ViewBag.Title = "Профиль пользователя";
}

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Сумма</th>
            <th>Комментарий</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 1; }
        @foreach (var order in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@order.Date.ToString("dd/MM/yy HH:mm")</td>
                <td>@order.NoteInfo</td>
            </tr>
}
    </tbody>
</table> 