@{ ViewBag.Title = "Профиль пользователя";
}

<table class="table">
    <thead>
        <tr>
            <th>№ заметки</th>
            <th>Дата создания</th>
            <th>Текст заметки</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 1; }
        @foreach (var note in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@note.Date.ToString("dd/MM/yy HH:mm")</td>
                <td>@note.NoteInfo</td>
            </tr>
}
    </tbody>
</table> 